/* Base global (sin pelear con App.css) */

:root{
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
  /* NO flex/center aquí: tu App.css ya gestiona layout */
}

/* enlaces */
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
